.map-container {
  height: 100vh;
  width: 80vw;
  margin-left: auto;
}
.leaflet-container {
  background-color: black;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}