.sidebar {
  height: 100vh;
  width: 20vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242424;
  padding: 16px;
  box-sizing: border-box;
}
.sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}
.body-text {
  margin-left: 150px;
  font-size: 18px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 18vw;
  display: block;
}

.sidebar h2 {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.checkbox {
    margin-left: 15px;
}
.label {
    margin-left: 5px;
}